.abt_container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.section{
  padding: 8rem 0 1rem;
}
.section__title,
.section__title-center{
  font-size: 1.5rem;
}
.about__container{
  row-gap: 2rem;
  column-gap: 7rem;
}

.about__img{
  width: 380px;
  justify-self: center;
}

.about__title{
  margin-bottom: 1rem;
}

.about__description{
  margin-bottom: 2rem;
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: .813rem;
}

.about__details-icon{
  font-size: 1rem;
  color: hsl(152, 24%, 32%);
  margin-top: .15rem;
}