.section{
  padding: 8rem 0 1rem;
}
.section__title-center{
  font-size: 2.25rem;
  margin-bottom: 2rem;
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.grid{
  display: grid;
}
.product__description{
  text-align: center;
  padding: 0 16rem;
}

.product__container{
  padding: 4rem 0;
  grid-template-columns: repeat(3, 185px);
  justify-content: center;
  row-gap: 4rem;
  column-gap: 6rem;
}

.product__card{
  display: grid;
  position: relative;
}


.product__img{
  position: relative;
  width: 160px;
  justify-self: center;
  margin-bottom: 0.75rem;
  transition: .3s;
}

.product__title,
.product__price{
  font-size: 1rem;
  font-weight: 700;
  color:hsl(152, 4%, 15%);
  
}

.product__title{
  margin-bottom: .25rem;
}

.product__button{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: hsl(152, 24%, 32%);
  color: #FFF;
  padding: .25rem;
  border-radius: .35rem;
  font-size: 1.15rem;
}

.product__button:hover{
  background-color: hsl(152, 24%, 28%);
}

.product__circle{
  width: 90px;
  height: 90px;
  background-color: hsl(152, 24%, 92%);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 5%;
}

.product__card:hover .product__img{
  transform: translateY(-.5rem);
}

.button{
  display: inline-block;
  background-color: hsl(152, 24%, 32%);
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: 500;
  transition: .3s;
}

.button:hover{
  background-color: hsl(152, 24%, 28%);
}

.button__icon{
  transition: .3s;
}

.button:hover .button__icon{
  transform: translateX(.25rem);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color:hsl(152, 24%, 32%);
  font-weight: 500;
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}