a{
  text-decoration: none;
}
  
  .header{
    width:100%;
    background-color: hsl(152, 0%, 100%);
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    display: block;
  }
  .nav_container{
    background-color: #FFF;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
  }
  .nav__logo,
  .nav__toggle,
  .nav__close{
    color: hsl(152, 4%, 15%);
}
.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}
  .nav__logo-icon{
    font-size: 1.15rem;
    color: hsl(152, 24%, 32%);
  }
  
  .nav__logo:hover{
    color: hsl(152, 24%, 32%);
  }
  .nav__logo{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
  }
  
  .nav__logo-icon{
    font-size: 1.15rem;
    color: hsl(152, 24%, 32%);
  }
  
  .nav__logo:hover{
    color: hsl(152, 24%, 32%);
  }
  
  
 
  .nav__menu{
    margin-left: auto;
    
  }
  .nav__list{
    display: flex;
    flex-direction: row;
    column-gap:3rem;
  }
  
  .nav__link{
    color: hsl(152, 4%, 15%);
    font-weight: 500;
    transition: .3s;
  }
  
  .nav__link:hover{
    color: hsl(152, 24%, 32%);
  }
  .nav__btns{
    display: inline-flex;
    align-items: center;
    column-gap: 3rem;
  }
      
  .scroll-header{
    box-shadow: 0 1px 4px hsla(152, 4%, 15%, .1);
  }
  
  .active-link{
    position: relative;
    color: hsl(152, 24%, 32%);
  }
  
  .active-link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: hsl(152, 24%, 32%);
  } 