.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
  display: block;
  }
.nav{
    height: var(--header-height);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    position: -webkit-sticky;
	  position: sticky;
  }
.nav_container{
    background-color: #FFF;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
  }

.nav__logo,
  .nav__toggle,
  .nav__close{
    color: var(--title-color);
}
.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}
  .nav__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);
  }
  
  .nav__logo:hover{
    color: var(--first-color);
  }
  .nav__logo{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
  }
  
  .nav__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);
  }
  
  .nav__logo:hover{
    color: var(--first-color);
  }

  @media screen and (max-width: 767px){
    .nav__menu{
      position: fixed;
      background-color: var(--container-color);
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: .3s;
      z-index: var(--z-fixed);
    }
  }
.nav__menu{
    margin-left: auto;
    
  }
  .nav__list{
    display: flex;
    flex-direction: row;
    column-gap:3rem;
  }
  
  .nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer
  }
  
  .nav__link:hover{
    color: var(--first-color);
  }
  .nav__btns{
    display: inline-flex;
    align-items: center;
    column-gap: 3rem;
  }
  
.active{
    position: relative;
    color: var(--first-color);
    text-decoration: underline;
    transition: steps();
  }
  .change-theme{
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
  }
.light-theme{
    --first-color: hsl(var(--hue), 24%, 32%);;
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
}
  
.dark-theme{
    --first-color-dark: hsl(var(--hue), 8%, 20%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
    }
  .dark-theme .steps__bg,
  .dark-theme .questions{
    background-color: var(--first-color-dark);
  }
  
  .dark-theme .product__circle,
  .dark-theme .footer__subscribe{
    background-color:var(--container-color);
  }
  
  .dark-theme .scroll-header{
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
  } 
  .dark-theme .nav_container{
    background-color: (var(--hue), 0%, 100%);
  }
  .dark-theme.nav__btns{
    color: #FFF;
}