ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✅';
  }
  .parent {
    display: grid;
    background-color: rgb(16, 65, 23);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    }
    
    .div4 { 
        grid-area: 2 / 4 / 5 / 5;
        align-items: center;
        color: aliceblue;
     }
    .div3 { 
        grid-area: 2 / 3 / 5 / 4;
        align-items: center;
        color: aliceblue;

     }
    .div2 { 
        grid-area: 2 / 2 / 5 / 3;
        align-items: center;
        color: aliceblue;
     }
    .div1 { 
        grid-area: 1 / 1 / 6 / 6; 
        align-items: center;
        color: aliceblue;
    }