.sec{
  padding: 5.5rem 0 1rem;
}
.about__container{
  row-gap: 4rem;
  display: flex;
  flex-direction: row;
}

.about__img{
  justify-self: left;
  display: flex;
}


.about__title{
  margin-bottom: 1rem;
  font-size: 2rem;
}

.about__description{
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.about__details{
  display: flex;
  row-gap: 1rem;
  margin-bottom: 2.5rem;
  flex-direction: column;
  
}
ul {
  list-style: none;
}

ul li:before {
  content: '✅';
}


.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: .975rem;
  
}


.button--flex{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: hsl(152, 24%, 32%);
  font-weight: 500;
}