.footer__container{
    row-gap: 3rem;
    grid-template-columns: 1fr .5fr .5fr .5fr;
    column-gap: 3rem;
  }
  
  .footer__logo{
    display: inline-flex;
    align-items:center;
    column-gap: .5rem;
    color: hsl(152, 4%, 15%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 2.5rem;
    transition: .3s;
  }
  
  .footer__logo-icon{
    font-size: 1.15rem;
    color: hsl(152, 24%, 32%);
  }
  
  .footer__logo:hover{
    color: hsl(152, 24%, 32%);
  }
  
  .footer__title{
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .footer__subscribe{
    background-color:hsl(152, 24%, 66%);
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    
  }
  
  .footer__input{
    width: 70%;
    padding: 0 .5rem;
    background: none;
    color:hsl(152, 4%, 35%);
    border: none;
    outline: none;
  }
  
  .footer__button{
    padding: 1rem;
  }
  
  .footer__data{
    display: grid;
    row-gap: .75rem;
  }
  
  .footer__information{
    font-size: 500;
  }
  
  .footer__social{
    display: inline-flex;
    column-gap: .75rem;
  }
  
  .footer__social-link{
    font-size: 1rem;
    color: hsl(152, 4%, 35%);
    transition: .3s;
  }
  
  .footer__social-link:hover{
    transform: translateY(-.25rem);
  }
  
  .footer__cards{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
  }
  .footer__card{
    width: 35px;
  }
  
  .footer__copy{
    text-align: center;
    font-size: 500;
    color: hsl(152, 4%, 55%);
    margin: 5rem 0 1rem;
  }

