
p{
  color: var(--title-color);
}
.questions{
    background-color:  var(--first-color-lighten);
  }
  
.accordion-button:not(.collapsed) {
  background-color: var(--container-color);
}
.accordion-button {
  background-color: var(--container-color);
}
  
.accordion-title{
  text-align: initial;
}
  
.questions__container{
    gap: 1.5rem;
    padding: 1.5rem 0;
}
  
.questions__group{
  display: grid;
  row-gap: 1.5rem;
}
  
  .accordion-item{
    background-color: var(--container-color);
    border-radius: .25rem;
    border-color: var(--container-color);;
  }
  
  .accordion-header
  .questions__item-title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  
  .questions__icon{
    font-size: 1.25rem;
    color:var(--title-color);
  }
  
  .accordion-description{
    font-size: var(--smaller-font-size);
    padding: 0 1.25rem 1.25rem 2.5rem;
  }
  
  .accordion-header{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem .5rem;
    cursor: pointer;
  }
  
  .questions__content{
    overflow: hidden;
    height: 0;
  }
  
  .questions__item,
  .questions__header,
  .questions__item-title,
  .questions__icon,
  .questions__description,
  .questions__content{
    transition: .3s;
  }
  
  .questions__item:hover{
    box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
  }
  
  
  